<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Projects</title>
    <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<header>
    <nav>
        <ul>
            <li><a href="{{ url_for('films') }}">Films</a></li>
            <li><a href="{{ url_for('projects') }}">Personal Projects</a></li>
            <li><a href="{{ url_for('stills') }}">Stills</a></li>
            <li><a href="{{ url_for('artworks') }}">Artworks</a></li>
        </ul>
    </nav>
</header>
<body>
    <h2>PERSONAL PROJECTS</h2>
    <div class="media-container">
        {% for video in media['projects'] %}
        <div class="media">
            <video controls>
                <source src="{{ video }}" type="video/mp4">
            </video>
        </div>
        {% endfor %}
    </div>
</body>
<  <footer>
        <p>&copy; 2025 Photography & Film Portfolio | Mustafa Khan</p>
        <p>Contact: <a href="mailto:81khanmustafa@gmail.com">81khanmustafa@gmail.com</a></p>
        <div class="social-icons">
            <a href="https://www.instagram.com/khan.mustafa" target="_blank" title="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
          
            </a>
        </div>
    </footer>
</html>
